  <style>

    :root {
      --color-bg: #000000;
      --color-text: #000000;
      --color-accent: #0073ff;
      --color-border: #dbf7ff;
    }

    * {
      box-sizing: border-box;
    }
    body {
  background: linear-gradient(to bottom, #f6fcff, #dceeff);
  color: var(--color-text);
  font-family: 'Hind Madurai', sans-serif;
  max-width: 700px;
  margin: auto;
  padding: 2rem;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
}
.card {
  background: linear-gradient(to bottom, #ffffff, #dbf7ff);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 8px 30px rgba(0, 90, 150, 0.35);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  backdrop-filter: blur(9px);
  border: 5px solid var(--color-border);
}

.extracard {
  background: linear-gradient(to bottom, #ffffff, #dbf7ff);
  border-radius: 20px;
  margin-top: 10px;
  padding: 0rem 1rem;
  box-shadow: 0 8px 30px rgba(0, 90, 150, 0.35);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  backdrop-filter: blur(9px);
  border: 5px solid var(--color-border);
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  border: 2px solid var(--color-border);
  object-fit: cover;
}

h1, h2, h3, h4 {
  font-family: 'Karla', sans-serif;
  color: var(--color-accent);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
  width:240px;margin-bottom: 5px;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

p {
  
  font-size: 1rem;
  line-height: 1.6;
border-radius: 20px;
  padding: 0.2rem;
  box-shadow: 0px 8px 30px rgba(0, 90, 150, 0.2);
}

score {
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  border-radius: 20px;
  padding: 0.4rem;
  margin-top:-100px;
  background:linear-gradient(to bottom, #4d9dff, #0073ff);;
  color:white;
  box-shadow: 0px 8px 30px rgba(0, 90, 150, 0.2);
}

a {
  color: var(--color-accent);
  text-decoration: none;
  border-bottom: 1px dotted var(--color-accent);
}

a:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.socials a.vertical {
  background: linear-gradient(to bottom, #ffffff, #dbf7ff);
  border: 1px solid #d1eaff;
  border-radius: 20px;
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 120, 255, 0.2);
  transition: all 0.3s ease;
}

.socials a.vertical:hover {
  transform: scale(1.05);
  background: linear-gradient(to bottom, #ffffff, #c9f3ff);
}

.socials a.vertical p {
  font-size: 0.8rem;
  margin: 0;
  color: #333;
}

.socials a.horizontal {
  background: linear-gradient(to bottom, #ffffff, #dbf7ff);
  border: 1px solid #d1eaff;
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 120, 255, 0.2);
  transition: all 0.3s ease;
}

.socials a.horizontal:hover {
  transform: scale(1.05);
  background: linear-gradient(to bottom, #ffffff, #c9f3ff);
}

.socials a.horizontal p {
  font-size: 0.8rem;
  margin: 0;
  color: #333;
}

.social-pic {
  transition: transform 0.2s ease;
  transform: perspective(500px) rotateX(var(--rotate-x, 0deg)) rotateY(var(--rotate-y, 0deg));
  will-change: transform;
  filter: hue-rotate(210deg);
}

.socials-pic {
  transition: transform 0.2s ease;
  width: 28px;
  height: 28px;
  filter: hue-rotate(200deg);
}

    .profile-pic {
      flex-shrink: 0;
      width: 180px;
      height: 180px;
      border-radius: 100px;
      object-fit: cover;
      border: 1px solid var(--color-border);
      margin-top: 1px;
      box-shadow: 0px 0px 10px rgba(0, 115, 255, 0.6);
    }
    
#wave-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #f6fcff;
}


  .crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.10626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.10626;
  }
  30% {
  opacity: 0.18128;
  }
  35% {
  opacity: 0.23604;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.06);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.9s infinite;
}

@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  .card, .extracard {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }

  .socials {
    flex-direction: column;
    gap: 1rem;
  }

  .profile-pic {
    width: 140px;
    height: 140px;
  }

  h1 {
    text-align: center;
  }

  .info {
    text-align: center;
  }

  .socials a.vertical, .socials a.horizontal {
    width: 1000%;
    max-width: 300px;
  }

  .socials a.horizontal {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    padding: 0.6rem 1rem;
  }

  .socials-pic {
    width: 24px;
    height: 24px;
  }
}#mute-button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: linear-gradient(to bottom, #ffffff, #c9f3ff);
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}
<!//NO CAMBIAR NADA DE ARRIBAAAAAAAAAAAAAAAA ES EL STYLE PARA IR PROBANDOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO-->

#game-library {
  margin-top: 2rem;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 2rem;
}

.game-card {
  background: linear-gradient(to bottom, #ffffff, #dbf7ff);
  border: 3px solid var(--color-border);
  border-radius: 20px;
  padding: 0.4rem 0.7rem;
  box-shadow: 0 8px 30px rgba(0, 90, 150, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;max-width:400px;
  gap:15px;

}

.game-viewer {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom, #c9e5f6, #b7dbfa);
  border-radius: 12px;
  margin-bottom: 0rem;
}

.game-info h3 {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.review {
  background: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
  border-radius: 12px;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

//nuevo

<!//NO CAMBIAR NADA DE ARRIBAAAAAAAAAAAAAAAA ES EL STYLE PARA IR PROBANDOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO-->


        /* Encabezado */
        .page-header {

            text-align: center;
            margin-bottom: 2rem;
            padding-bottom: 1rem;
            border-bottom: 2px solid var(--color-border);
        }

        .page-title {
            font-family: 'Karla', sans-serif;
            color: var(--color-accent);
            font-size: 5rem;
            margin-bottom:1rem;
            text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.12);
            text-align: center;
        }

        .page-subtitle {
            background: linear-gradient(to bottom, #ffffff, #dbf7ff);
            box-shadow: 0 8px 30px rgba(0, 90, 150, 0.35);
            border: 5px solid var(--color-border);
            padding: 0.5rem;
            font-size: 1rem;
            color: black;
            max-width: 800px;
            margin: 0 auto 0.4rem;
            line-height: 1.6;
       
        }

        /* Advertencia */
        .disclaimer {
            background: linear-gradient(to bottom, #ffffff, #ffdbdb);
            color: black;
            border: 3px solid #ffdbdb;
            padding: 0.5rem;
            margin: 0 auto 2rem;
            max-width: 800px;
            border-radius: 20px;
            font-size: 0.85rem;
            box-shadow: 0 8px 5px rgba(255, 219, 219, 0.35);
        }

        .disclaimer strong {
            color: var(--warning-color);
        }

        /* Buscador */
        .search-container {
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }

        .search-box {
            width: 100%;
            max-width: 500px;
            padding: 0.8rem 1.2rem;
            border: 2px solid var(--color-border);
            border-radius: 20px;
            font-family: 'Hind Madurai', sans-serif;
            font-size: 1rem;
            box-shadow: 0 4px 15px rgba(0, 90, 150, 0.1);
            transition: all 0.3s ease;
            outline: none;
        }

        .search-box:focus {
            border-color: var(--color-accent);
            box-shadow: 0 4px 20px rgba(0, 115, 255, 0.2);
        }

        /* Contenedor de juegos */
        .games-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
            gap: 0px;
            width: 100%;
        }





        .game-score {
            font-family: 'Karla', sans-serif;
            font-size: 1.2rem;
            font-weight: bold;
            background: linear-gradient(to bottom, #4d9dff, #0073ff);
            color: white;
            padding: 4px 12px;
            border-radius: 20px;
            box-shadow: 0 4px 10px rgba(0, 90, 150, 0.2);
        }

        /* Estilo 3 - Tarjeta Horizontal */
        .game-card-horizontal {
            background: linear-gradient(to bottom, #ffffff, #dbf7ff);
            border-radius: 16px;
            padding: 12px;
            box-shadow: 0 8px 20px rgba(0, 90, 150, 0.25);
            width: var(--card-width);
            height: 80px;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            border: 3px solid var(--color-border);
            text-decoration: none;
            overflow: hidden;
            margin:10px;
        }

        .game-card-horizontal:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 25px rgba(0, 90, 150, 0.35);
        }

        .game-icon-horizontal {
            width: 50px;
            height: 50px;
            object-fit: contain;
            margin-right: 12px;
            flex-shrink: 0;
            border-radius: 10px;
        }

        .game-info-horizontal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
        }

        .game-title-horizontal {
            font-family: 'Karla', sans-serif;
            color: var(--color-accent);
            font-size: 0.9rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 4px;
        }

        .game-score-horizontal {
            font-family: 'Karla', sans-serif;
            font-size: 1rem;
            font-weight: bold;
            background: linear-gradient(to bottom, #4d9dff, #0073ff);
            color: white;
            padding: 2px 10px;
            border-radius: 20px;
            align-self: flex-start;
        }

.favorite-switch {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 10px;
    }
    
    .switch-label {
        margin-left: 8px;
        font-size: 14px;
    }
    
    .favorite-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: relative;
        display: inline-block;
        min-width: 39px;
        width: 40px;
        height: 24px;
        background: linear-gradient(to bottom, #b8b8b8, #8f8f8f);
        transition: .4s;
        border-radius: 20px;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        right:50px;
        background: linear-gradient(to bottom, #ffffff, #d4d4d4);
        transition: .4s;
        border-radius: 20px;
    }
    
    input:checked + .slider {
        background: linear-gradient(to bottom, #ffdd00, #c9af00);
    }
    
    input:checked + .slider:before {
        transform: translateX(100%);
    }
    
    /* Estilo para los juegos favoritos */
    .game-card-horizontal.favorite {
        //border: 2px solid gold;
    }
    
    .favorite-icon {
        color: gold;
        margin-left: auto;
        padding: 0 10px;
        font-size: 28px;
    }

</style>
